<!--The content below is only a placeholder and can be replaced.-->
<div class="central" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
  <a routerLink="/doctors">Doctors</a>
  <a routerLink="/dashboard">Dashboard</a>
</nav>
  <div class="jumbotron">
    <img width="150" alt="laska eskulapa" src="https://m.ocdn.eu/_m/dd8df2a2a4831f3a4291617837eea901,62,37.jpg">
  </div>
  <div class="cointainer">
    <router-outlet></router-outlet>
    <app-messages></app-messages>
  
  </div>
</div>

