<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title | uppercase }}!
  </h1>
  <img width="300" alt="superheroes" src="https://static.tvtropes.org/pmwiki/pub/images/rsz_superheroes2.png">
  <nav>
  <a routerLink="/heroes" class="col-1-4">Heroes</a>
  <a routerLink="/dashboard" class="col-1-4">Dashboard</a>
  
</nav>
<router-outlet></router-outlet>
 <!-- <app-heroes></app-heroes> -->
 <app-messages></app-messages>
</div>

